[submodule "libs/gameui"]
	path = libs/gameui
	url = https://github.com/Bluff-Recognition-AI/Front-End-game.git
[submodule "libs/engine"]
	path = libs/engine
	url = https://github.com/Bluff-Recognition-AI/PokerEngine.git
[submodule "libs/web"]
	path = libs/web
	url = https://github.com/Bluff-Recognition-AI/Socket_server_client.git
